.container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 90px 0;

    .heading {
        display: flex;
        justify-content: space-between;

        h2 {
            margin: 0;
            }
    }

   
    
}
